@media only screen and (min-width: 480px) {

    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        grid-gap: 0px;

        grid-template-areas: 
            "inf"
            "anm";
    }

    /*GRID AREAS*/

    .inf{
        grid-area: inf;
    } 

    .anm{
        grid-area: anm;
    } 

    #date{
        font-size: 40px;
        font-family: 'Muli', sans-serif;
        color: rgba(255,255,255,0.4);
    }

    #txt{
        font-size: 20px;
        font-family: 'Muli', sans-serif;
        color: rgba(255,255,255,0.4);
    }

    #sun{
        position: absolute;
        width: 400px;
        bottom: 10;
        z-index: 2;
    }

    #moon{
        position: absolute;
        top: 140px;
        width: 300px;
    }

    .grid-item{
        padding-left: 80px;
    }
}