@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');


body{
    background-color: #FCA02E;
    height: 100vh;
    overflow: hidden;
}

h1{
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
    font-size: 30px;
}

h1 i{
    font-style: italic;
}

h2{
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}

p{
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 18px;
}

button{
    margin: 30px 5px 0 2px;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: 900;
    border: none;
    background: #E5C7EB;
    color: black;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
}

button:hover, button:focus{
    background: #5E5375;
    color: white;
}

.grid-container /*body*/{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    grid-gap: 0px;
    
    grid-template-areas: 
        "title"
        "wel"
        "count"
        /*"dash"*/
        /*"info"*/
        "dis"
        "stock";
}

/*GRID AREAS*/

.title{
    grid-area: title;
} 

#txt{
    font-size: 20px;
    font-family: 'Muli', sans-serif;
    color: rgba(255,255,255,0.4)
}



#sun{
    position: relative;
    width: 300px;
    top: -100;
}


#moon{
    position: relative
    top: -150px;
    width: 200px;
}


.grid-item{
    padding: 20px;
}